<%= form_with(model: booking, local: false) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :booking_user_id %>
  </div>

  <div class="field">
    <%= form.label :datareserva %>
    <%= form.date_select :datareserva, id: :booking_datareserva %>
  </div>

  <div class="field">
    <%= form.label :horareserva %>
    <%= form.number_field :horareserva, id: :booking_horareserva %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_area :descricao, id: :booking_descricao %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
